body {
    background-image: url("../../src/images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
}

.container {
    text-align: center;
    background-color: #ffffff;
    max-width: 1440px;
    max-height: 785px;
    width: 1440px;
    height: 785px;
}

.first-column,
.second-column {
    display: inline-block;
    max-width: 720px;
    width: 40%;
    border: 5px solid black;
}

#learn-to-code {
    font-family: 'Poppins', sans-serif;
}

#focus-text {
    border: 2px solid green;
}