body {
    background-image: url("../../src/images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
}


/* .container {
    text-align: center;
    max-width: 1440px;
    max-height: 833px;
    width: 1440px;
    height: 833px;
}

#learn-to-code {
    text-align: left;
    font-size: 2.5em;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
}

.first-column,
.second-column {
    display: inline-block;
    max-width: 720px;
    width: 40%;
    height: 70%;
}

.first-column {
    height: 35%;
}

.second-column {
    margin-top: 120px;
    margin-bottom: 120px;
}

#focus-text {
    height: 50px;
    border-radius: 5px;
    background-color: hsl(248, 32%, 49%);
    padding-top: 20px;
    color: #fff;
}

#free {
    color: #fff;
    font-weight: 600;
}

#description {
    padding-left: 30px;
    font-size: 16px;
    text-align: left;
    color: #fff;
}

#first-name,
#last-name,
#email,
#password,
#submit {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    font-size: 16px;
    width: 450px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
}

.sign-up-form {
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 10px;
    background-color: #fff;
    height: 460px;
}

#first-name {
    margin-top: 40px;
}

#submit {
    text-transform: uppercase;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    font-weight: 600;
    width: 479px;
    height: 49px;
}

#first-name::placeholder,
#last-name::placeholder,
#email::placeholder,
#password::placeholder {
    padding-left: 20px;
    font-size: 16px;
}

#tos-link {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
} */

.container {
    display: flex;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
}

.container>div {
    flex: 1;
}

.first-column,
.second-column {
    margin: auto 0;
}

@media screen and (max-width:600px) {
    .container {
        display: block;
    }
}

#learn-to-code {
    font-size: clamp(3rem, 3vw, 2rem);
    padding: 0 30px;
    color: #fff;
    line-height: 150%;
}

#description {
    color: #fff;
    padding: 0 30px;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

#first-name,
#last-name,
#email,
#password {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    font-size: 16px;
    width: 450px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 479px;
    height: 49px;
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    font-weight: 600;
}

.sign-up-form {
    text-align: center;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 10px;
    background-color: #fff;
}